{% load static from staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Baidu Map Visualization</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <style type="text/css">
        html,body{
            margin:0;
            width:100%;
            height:100%;
            background:#ffffff;
        }
        #map{
            width:100%;
            height:100%;
        }
        #panel {
            position: absolute;
            top:30px;
            left:10px;
            z-index: 999;
            color: #fff;
        }
        #login{
            position:absolute;
            width:300px;
            height:40px;
            left:50%;
            top:50%;
            margin:-40px 0 0 -150px;
        }
        #login input[type=password]{
            width:200px;
            height:30px;
            padding:3px;
            line-height:30px;
            border:1px solid #000;
        }
        #login input[type=submit]{
            width:80px;
            height:38px;
            display:inline-block;
            line-height:38px;
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=eM0GfCwd27kZRyM49ZOkvkOaidDXz6Wf"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
    <script type="text/javascript" src="{% static "js/data.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/path_1.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/path_2.js" %}"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/jquery-confirm.min.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery-confirm.min.js" %}" charset="UTF-8"></script>


    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/bootstrap.min.css" %}" />
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}" charset="UTF-8"></script>
</head>
<body>
<div id="map"></div>
<script type="text/javascript">
    var map = new BMap.Map("map", {});                        // 创建Map实例
    //map.setMapStyle({style:'googlelite'});
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 12);     // 初始化地图,设置中心点坐标和地图级别
    map.enableScrollWheelZoom();                        //启用滚轮放大缩小
    var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
	var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
    map.addControl(top_left_control);
    map.addControl(top_left_navigation);

    if (document.createElement('canvas').getContext) {  // 判断当前浏览器是否支持绘制海量点
        var points = [];  // 添加海量点数据
        console.log("var pathpoints = { \"data\":[");
        var pointsNum = 0;
        for (var i = 0; i < data.data.length; i++) {
            points.push(new BMap.Point(data.data[i][0], data.data[i][1]));
            direction = checkPoint(data.data[i][0],data.data[i][1]);
            if(direction != 0) {
                console.log("[" + data.data[i][0] + "," + data.data[i][1] + "," + direction + "],");
                pointsNum ++ ;
            }
        }
        console.log("],\"total\":"+pointsNum + ",\"rt_loc_cnt\":"+pointsNum+",\"errorno\": 0,\"NearestTime\": \"2014-08-29 15:20:00\"," +
                "\"userTime\": \"2014-08-29 15:32:11\"}");
        var options = {
            size: BMAP_POINT_SIZE_TINY,
            //shape: BMAP_POINT_SHAPE_STAR,
            color: '#000000'
        };
        var pointCollection = new BMap.PointCollection(points, options);  // 初始化PointCollection
        pointCollection.addEventListener('click', function (e) {
            alert('单击点的坐标为：' + e.point.lng + ',' + e.point.lat);  // 监听点击事件
        });
        map.addOverlay(pointCollection);  // 添加Overlay
        //单击获取点击的经纬度
    } else {
        alert('请在chrome、safari、IE8+以上浏览器查看本示例');
    }

    //检查数据点是否在多边形道路区域内
    function checkPoint(lng,lat){
        var c1 = false,c2=false;
        var minDis1 = Number.MAX_VALUE,minDis2 = Number.MAX_VALUE;
        for (var i = -1, l = path_1.data.length, j = l - 1; ++i < l; j = i){
             minDis1 = Math.min(minDis1,Math.pow((lng-path_1.data[i][0]),2)+Math.pow((lat-path_1.data[i][1]),2));
            ((path_1.data[i][1] <= lat && lat < path_1.data[j][1]) || (path_1.data[j][1] <= lat && lat < path_1.data[i][1]))&&
            (lng < (path_1.data[j][0] - path_1.data[i][0]) * (lat - path_1.data[i][1]) / (path_1.data[j][1] - path_1.data[i][1]) + path_1.data[i][0])&&
            (c1 =!c1);

        }
        if(c1==true){
            return 1;
        }
        for (var i = -1, l = path_2.data.length, j = l - 1; ++i < l; j = i){
            minDis2 = Math.min(minDis2,Math.pow((lng-path_2.data[i][0]),2)+Math.pow((lat-path_2.data[i][1]),2));
            ((path_2.data[i][1] <= lat && lat < path_2.data[j][1]) || (path_2.data[j][1] <= lat && lat < path_2.data[i][1]))&&
            (lng < (path_2.data[j][0] - path_2.data[i][0]) * (lat - path_2.data[i][1]) / (path_2.data[j][1] - path_2.data[i][1]) + path_2.data[i][0])&&
            (c2 =!c2);
        }
        if(c2==true){
            return -1;
        }
        if(minDis1<0.0000001&&minDis2<0.0000001)
            return (minDis1<minDis2)?1:-1;
        return 0;
    }


    var status = 2,startPoint,endPoint;

    map.addEventListener("click",function(e){
       console.log(e.point.lng+ "," + e.point.lat);
        /*status ++;
        status = 1+ (status-1)%2;
        if (status ==1){
            startPoint = new Point(e.point.lng,e.point.lat);
        }else{
            endPoint = new Point(e.point.lng,e.point.lat);
        }*/
    });

    var lushu;
    // 实例化一个驾车导航用来生成路线
    var drv = new BMap.DrivingRoute('北京', {
        onSearchComplete: function(res) {
            if (drv.getStatus() == BMAP_STATUS_SUCCESS) {
                var arrPois = res.getPlan(0).getRoute(0).getPath();
                var pathstr = "var data = {\"data\":["
                for(var i=0; i<arrPois.length;i++){
                    pathstr += "["+ arrPois[i].lng + "," + arrPois[i].lat +"],";
                }
                pathstr = pathstr + "],\"total\":" + arrPois.length + ",\"rt_loc_cnt\":" + arrPois.length + ",\"errorno\": 0,\"NearestTime\": " +
                        "\"2014-08-29 15:20:00\",\"userTime\": \"2014-08-29 15:32:11\"}"
                //console.log(pathstr);
                map.addOverlay(new BMap.Polyline(arrPois, {strokeColor: '#111',strokeWeight:1}));
                map.setViewport(arrPois);
            }
        }
    });
    //drv.search('万寿路口东', '西单路口东');
    //path1left
    //var startPoint = new BMap.Point(116.527417,39.98056);
    //var endPoint = new BMap.Point(116.538333,39.959325);

    //path1right
    var startPoint = new BMap.Point(116.527574,39.980455);
    var endPoint = new BMap.Point(116.538686,39.959216);

    //path2
    //var startPoint = new BMap.Point(116.538535,39.959418);
    //var endPoint = new BMap.Point(116.527738,39.980389);


    drv.search(startPoint,endPoint);


    var overlays = [];
	var overlaycomplete = function(e){
        overlays.push(e.overlay);
        var olRectPoint = e.overlay.ro;
        /* *.Nk是从 e 的dom节点中寻找到的，百度本身没有提供此方法的介绍。
         * olRectPoint坐标排序方式
         *	┌─────────────────────┐
         *	│0					1 │
         *	│					  │
         *	│3					2 │
         *	└─────────────────────┘
         * */
        var sw = olRectPoint[0];		//左上
        var ne = olRectPoint[2];		//右下
        //alert('左上：'+ sw.lng+',' + sw.lat + '    右下：'+ne.lng+','+ne.lat);

        $.confirm({
                confirmButtonClass: 'btn-info',
                cancelButtonClass: 'btn-danger',

                keyboardEnabled: true,
                title: '信息',
                content: '是否选择当前区域中的数据点?',
                confirmButton:'是',
                cancelButton:'否',
                closeIcon:true,
                confirm: function(){
                    var addr="/transport/region?"+"slat="+sw.lng+"&slng="+sw.lat+"&elat="+ne.lng+"&elng="+ne.lat;
                    $.get(addr,function(result){
                      if(result.code == 0){
                          alert("区域内有"+result.message+"个点!");
                      }
                      else
                      {
                          alert(result.message);
                      }
                    });
                },
                cancel:function(){
                    clearAll();
                }
            });

    };
    var styleOptions = {
        strokeColor:"blue",    //边线颜色。
        fillColor:"blue",      //填充颜色。当参数为空时，圆形将没有填充效果。
        strokeWeight: 3,       //边线的宽度，以像素为单位。
        strokeOpacity: 0.5,	   //边线透明度，取值范围0 - 1。
        fillOpacity: 0.2,      //填充的透明度，取值范围0 - 1。
        strokeStyle: 'solid' //边线的样式，solid或dashed。
    };
    //实例化鼠标绘制工具
    var drawingManager = new BMapLib.DrawingManager(map, {
        isOpen: false, //是否开启绘制模式
        enableDrawingTool: true, //是否显示工具栏
        drawingToolOptions: {
            anchor: BMAP_ANCHOR_TOP_RIGHT, //位置
            offset: new BMap.Size(5, 5), //偏离值
        },
        circleOptions: styleOptions, //圆的样式
        polylineOptions: styleOptions, //线的样式
        polygonOptions: styleOptions, //多边形的样式
        rectangleOptions: styleOptions //矩形的样式
    });
	 //添加鼠标绘制工具监听事件，用于获取绘制结果
    drawingManager.addEventListener('overlaycomplete', overlaycomplete);
    function clearAll() {
		for(var i = 0; i < overlays.length; i++){
            map.removeOverlay(overlays[i]);
        }
        overlays.length = 0
    }


</script>
</body>
</html>


