{% extends "transport/diff_color_base3.html" %}
{% load static from staticfiles %}
{% block title %}点标注结果{% endblock %}
{% block headscript %}

{% endblock %}
{% block endscript %}
<script type="text/javascript">
     var myModal=$("#modal_body");
     var myChart = echarts.init(document.getElementById('modal_body'));
</script>
<script type="text/javascript">
    function handle_result_from_json(result)
    {
        var addr=result.message;
        if(typeof addr == "object"){
            var corr_list = addr.corr;
            var str_corr = "";
            for(var i=0;i<corr_list.length;i++){
                str_corr += ("i="+i+"  pos_corr="+corr_list[i][0]+"  neg_corr="+corr_list[i][1]+"\n");
            }
            alert(str_corr);
            addr = addr.addr;
        }
        $.get(addr).done(function (rtn_json) {
            var option_1=JSON.parse(rtn_json);
            myChart.setOption(option_1);
            myModal.modal('show');
        });
    }
</script>
{% endblock %}

