{% extends "transport/diffcolor_base.html" %}
{% load static from staticfiles %}
{% block title %}点标注结果（顺逆时针分开）{% endblock %}
{% block headscript %}
    <style>
    #pie_chart1{
            width:1100px;
            height:630px;
            text-align:center;
    }
    .bar_chart_div{
        width:1100px;
        height:630px;
    }
    #bar_chart1{
        width:1100px;
        height:300px;
    }
    #bar_chart2{
        width:1100px;
        height:300px;
    }
    #bar_controller{
        width:1100px;
        height:30px;
        text-align:center;
    }
    </style>
{% endblock %}
{% block modalbody %}
          <div class="bar_chart_div">
          <div id="bar_controller"></div>
          <div id="bar_chart1"></div>
          <div id="bar_chart2"></div>
          </div>
          <div id="pie_chart1"></div>
{% endblock %}
{% block endscript %}

<script type="text/javascript">
            var echarts;
            var barChart1;
            var barChart2;
            var pieChart1;

            var barChart_ele1 = document.getElementById('bar_chart1');
            var barChart_ele2 = document.getElementById('bar_chart2');
            var pieChart_ele1 = document.getElementById('pie_chart1');

            require(
                [
                    'echarts',
                    'echarts/chart/bar',
                    'echarts/chart/pie'
                ],
                function (ec) {
                    echarts=ec;
                    barChart1 = ec.init(barChart_ele1,curTheme);
                    barChart1.setOption(option_bar1,true);

                    barChart2 = ec.init(barChart_ele2,curTheme);
                    barChart2.setOption(option_bar2,true);

                    barChart1.connect([barChart2]);
                    barChart2.connect([barChart1]);

                    setTimeout(function (){
                        window.onresize = function () {
                            barChart1.resize();
                            barChart2.resize();
                        }
                    },200);

                    pieChart1= ec.init(pieChart_ele1,curTheme);
                    pieChart1.setOption(option_pie1,true);


                    legend1 = barChart1.chart['bar'].component.legend;
                    legend2 = barChart2.chart['bar'].component.legend;

                    $(option_bar1.legend.data).each(function(i, l){
                        var group_no=i % type_count;
                        if (l!="") {
                            group_by_type[group_no].push(l);
                            all_select_group.push(l);
                        }
                    });

                    $(option_bar2.legend.data).each(function(i, l){
                        var group_no=i % type_count;
                        if (l!="") {
                            group_by_type[group_no].push(l);
                            all_select_group.push(l);
                        }
                    });


                    for (group_idx;group_idx<group_len;group_idx++)
                    {
                        var pos_name=group_by_type[group_idx][0];
                        var neg_name=group_by_type[group_idx][1];

                        var group_name=pos_name.substring(0,pos_name.length-2);
                        pos_post=pos_name.substring(pos_name.length-2,pos_name.length);
                        neg_post=neg_name.substring(neg_name.length-2,neg_name.length);
                        var checkboxLegend = $('<div class="checkbox checkbox-primary checkbox-inline">' +
                        '<input id="checkbox'+group_idx+'" class="styled" type="checkbox" checked="checked"><label for="checkbox'+group_idx+'">'+group_name+'</label></div>');

                        divLegends.append(checkboxLegend);
                    }

                    $(".checkbox").change(function(){
                        var now_node=this.children[0];
                        var checked=now_node.checked;
                        var innertxt=this.innerText;
                        var pos_txt=innertxt+pos_post;
                        var neg_txt=innertxt+neg_post;

                        option_bar1.legend.selected[pos_txt]= checked;
                        option_bar2.legend.selected[neg_txt]= checked;
                        refresh_data(option_bar1,"bar",1);
                        refresh_data(option_bar2,"bar",2);
                    });


                    $("#checkbox_all").change(function(){
                        var checked=this.checked;
                        var checkbox_list=$(".checkbox .styled");
                        var tmp_index=1;
                        for (tmp_index;tmp_index<checkbox_list.length;tmp_index++)
                        {
                            checkbox_list[tmp_index].checked=checked;
                        }
                        var selected_name_hash1=option_bar1.legend.selected;
                        var key_of_hash;
                        for (key_of_hash in selected_name_hash1)
                        {
                            option_bar1.legend.selected[key_of_hash]= checked;
                        }
                        var selected_name_hash2=option_bar2.legend.selected;
                        for (key_of_hash in selected_name_hash2)
                        {
                            option_bar2.legend.selected[key_of_hash]= checked;
                        }
                        refresh_data(option_bar1,"bar",1);
                        refresh_data(option_bar2,"bar",2);
                    });

                }
            );
            var themeSelector = $('#theme-select');
            $(themeSelector).on('change', function(){
                selectChange($(this).val());
            });
            function selectChange(value){
                curTheme = value;
                barChart1.showLoading();
                barChart2.showLoading();
                $(themeSelector).val(curTheme);
                if (curTheme != 'default') {
                    window.location.hash = value;
                    require(['/static/theme/' + curTheme], function(tarTheme){
                        curTheme = tarTheme;
                        setTimeout(refreshTheme, 500);
                    })
                }
                else {
                    window.location.hash ='';
                    curTheme = {};
                    setTimeout(refreshTheme, 500);
                }
            }
            function refreshTheme(){
                barChart1.hideLoading();
                barChart2.hideLoading();
                barChart1.setTheme(curTheme);
                barChart2.setTheme(curTheme);
            }
            function refresh_data(option_new,type,bar_val){

                if (type=="bar"&&bar_val==1)
                {
                    if (barChart1 && barChart1.dispose) {
                        barChart1.dispose();
                    }
                    barChart1 = echarts.init(barChart_ele1, curTheme);
                    window.onresize = barChart1.resize;
                    barChart1.setOption(option_new, true);
                }
                else if (type=="bar"&&bar_val==2)
                {
                    if (barChart2 && barChart2.dispose) {
                        barChart2.dispose();
                    }
                    barChart2 = echarts.init(barChart_ele2, curTheme);
                    window.onresize = barChart2.resize;
                    barChart2.setOption(option_new, true);
                }
                else
                {
                    if (pieChart1 && pieChart1.dispose) {
                        pieChart1.dispose();
                    }
                    pieChart1 = echarts.init(pieChart_ele1, curTheme);
                    window.onresize = pieChart1.resize;
                    pieChart1.setOption(option_new, true);
                }
            }
</script>
<script type="text/javascript">
    function handle_result_from_json(result)
    {
        rtn_json=JSON.parse(result.message);
{#        var date_list=rtn_json.date_list;#}
{#        option_bar1.xAxis[0].data=date_list;#}
{#        option_bar2.xAxis[0].data=date_list;#}
        statistic=rtn_json.statistic;
        statistic_list=[statistic.type1,statistic.type2,statistic.type3,statistic.type4];
        for(var p = 0; p < 2*statistic_list.length; p++) {
            var idx=p % statistic_list.length;
            var value_data;
            if (p < statistic_list.length)
            {
                value_data=statistic_list[idx].neg.sum;
            }
            else {
                value_data=statistic_list[idx].pos.sum;
            }
             option_pie1.series[0].data[p].value=value_data;
        }
        refresh_data(option_pie1,"pie",0);

        type_data_list=[rtn_json.type1,rtn_json.type2,rtn_json.type3,rtn_json.type4];
        for(var i = 0; i < type_data_list.length; i++){
            option_bar1.series[i].data=(function () {
                                var d = [];
                                var idx=i % 4;
                                var data_now=type_data_list[idx];
                                var len_data_now=data_now.length;
                                for(var j = 0; j < len_data_now; j++){
                                    var object_now=data_now[j];
                                    var date_object=object_now.datatime;
                                    var value_data=-1;
                                    value_data=object_now.negNum;
                                    var date_of_data=new Date(date_object[0], date_object[1]-1, date_object[2], date_object[3], 0 , 0);
                                    d.push([
                                        date_of_data,
                                        value_data
                                    ]);
                                }
                                return d;
                            })();
            option_bar2.series[i].data=(function () {
                                var d = [];
                                var idx=i % 4;
                                var data_now=type_data_list[idx];
                                var len_data_now=data_now.length;
                                for(var j = 0; j < len_data_now; j++){
                                    var object_now=data_now[j];
                                    var date_object=object_now.datatime;
                                    var value_data=-1;
                                    value_data=object_now.posNum;
                                    var date_of_data=new Date(date_object[0], date_object[1]-1, date_object[2], date_object[3], 0 , 0);
                                    d.push([
                                        date_of_data,
                                        value_data
                                    ]);
                                }
                                return d;
                            })()
        }
        refresh_data(option_bar1,"bar",1);
        refresh_data(option_bar2,"bar",2);
        myModal.modal('show');
    }
</script>
{% endblock %}