{% extends "transport/transport_base.html" %}
{% load static from staticfiles %}
{% block title %}显示方向标注后的点{% endblock %}
{% block head %}
    {% ifequal data_type 0 %}
        <script type="text/javascript" src="{% static "output/pathpoints_all.js" %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static "output/pathpoints.js" %}"></script>
    {% endifequal %}
    <script type="text/javascript" src="{% static "js/option.js" %}"></script>

{% endblock %}
{% block content %}
<div id="map"></div>
{# <div >#}
{#<div class="modal fade" id="bannerModal" tabindex="-1" role="dialog" aria-labelledby="bannerModalLabel" >#}
{#  <div class="modal-dialog" role="document" style="width:1100px;height: 600px;">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <button type="button" class="close"  data-dismiss="modal"  aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#        <h4 class="modal-title" id="bannerModalLabel" align="center" style="color: #000000">使用教程-数据可视化部分</h4>#}
{#      </div>#}
{#      <div class="modal-body" id="banner_main" style="width:1100px;height: 600px;padding: 0px 0px 50px 50px">#}
{#          <!-- 把要轮播的地方写上来 -->#}
{#        <div class="banner" id="b04">#}
{#            <ul>#}
{#                <li><img src="{% static "img/01.jpg" %}" alt="" width="1000" height="600" ></li>#}
{#                <li><img src="{% static "img/02.jpg" %}" alt="" width="1000" height="600" ></li>#}
{#                <li><img src="{% static "img/03.jpg" %}" alt="" width="1000" height="600" ></li>#}
{#                <li><img src="{% static "img/04.jpg" %}" alt="" width="1000" height="600" ></li>#}
{#                <li><img src="{% static "img/05.jpg" %}" alt="" width="1000" height="600" ></li>#}
{#                <li><img src="{% static "img/06.jpg" %}" alt="" width="1000" height="600" ></li>#}
{#                <li><img src="{% static "img/07.jpg" %}" alt="" width="1000" height="600" ></li>#}
{#                <li><img src="{% static "img/08.jpg" %}" alt="" width="1000" height="600" ></li>#}
{#            </ul>#}
{#            <a href="javascript:void(0);" class="unslider-arrow04 prev"><img class="arrow" id="al" src="{% static "img/arrowl.png" %}" alt="prev" width="20" height="35"></a>#}
{#            <a href="javascript:void(0);" class="unslider-arrow04 next"><img class="arrow" id="ar" src="{% static "img/arrowr.png" %}" alt="next" width="20" height="37"></a>#}
{#        </div>#}
{#      </div>#}
{#      <div class="modal-footer">#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{#</div>#}
<div >
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document" style="width:1400px;height: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" align="center">{{ title }}与时间的关系</h4>
        <div align="right">
          <span >切换主题</span>
          <select id="theme-select">
                {% for theme in theme_names %}
                    {% ifequal theme "helianthus" %}
                        <option value="{{ theme }}" selected="selected">{{ theme }}</option>
                    {% else %}
                        <option value="{{ theme }}">{{ theme }}</option>
                    {% endifequal %}

                {% endfor %}
          </select>
        </div>
      </div>
      <div class="modal-body" id="main" style="width:1400px;height: 600px;">

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" src="{% static "js/dist/echarts.js" %}"></script>
<script type="text/javascript">
            var myChart;
            var echarts;
            var domMain=document.getElementById('main');
            require.config({
                paths: {
                    echarts: '{% static "js/dist" %}'
                }
            });
            var themes_index_dic = {};
            var themes_dic=[];
            var theme_names={{ theme_names | safe }};
            var static_theme_url={{ static_theme_url |safe }};
            len=static_theme_url.length;
            for(var icont = 0; icont < len; icont++){
                i_num=icont;
                //alert(i_num);
                url=static_theme_url[i_num];

                theme_name=theme_names[i_num].toString();
                require([url], function(theme) {
                    themes_dic.push(theme);
                }
                );
                themes_index_dic[theme_name]=i_num;
            }


            var curTheme=themes_dic[themes_index_dic["helianthus"]];
            require(
                [
                    'echarts',
                    'echarts/chart/line',   // 按需加载所需图表，如需动态类型切换功能，别忘了同时加载相应图表
                    'echarts/chart/bar'
                ],
                function (ec) {
                    echarts=ec;
                    myChart = ec.init(domMain,curTheme);
                    myChart.setOption(option);
                }
            );
            var themeSelector = $('#theme-select');
            $(themeSelector).on('change', function(){
                selectChange($(this).val());
            });
            function selectChange(value){
                curTheme = value;
                myChart.showLoading();
                $(themeSelector).val(curTheme);
                if (curTheme != 'default') {
                    window.location.hash = value;
                    require(['/static/theme/' + curTheme], function(tarTheme){
                        curTheme = tarTheme;
                        setTimeout(refreshTheme, 500);
                    })
                }
                else {
                    window.location.hash ='';
                    curTheme = {};
                    setTimeout(refreshTheme, 500);
                }
            }
            function refreshTheme(){
                myChart.hideLoading();
                myChart.setTheme(curTheme);
            }
            function refresh_data(option_new){
            if (myChart && myChart.dispose) {
                myChart.dispose();
            }
            myChart = echarts.init(domMain, curTheme);
            window.onresize = myChart.resize;
            myChart.setOption(option_new, true);
            }
</script>
<script type="text/javascript">
{#    $("#bannerModal").modal('show');#}
{#    show_banner();#}
    $("#myModal").modal('hide');
    var map = new BMap.Map("map", {});                        // 创建Map实例
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 12);     // 初始化地图,设置中心点坐标和地图级别
    map.enableScrollWheelZoom(true);                        //启用滚轮放大缩小
    var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
	var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
    map.addControl(top_left_control);
    map.addControl(top_left_navigation);

    var noise_invisible={{ noise_invisible }};
    if (document.createElement('canvas').getContext) {  // 判断当前浏览器是否支持绘制海量点
        var points1 = [],points2 = [],points3 = [];  // 添加海量点数据
        label_index=3;
        {% ifequal data_type 0 %}
            path_data=pathpoints.data;
        {% else %}
            path_data=pathpoints.data[{{ data_type }}-1];
        {% endifequal %}
        for (var i = 0; i < path_data.length; i++) {
            if(path_data[i][label_index]==1){
                points1.push(new BMap.Point(path_data[i][0], path_data[i][1]));
            }else if(path_data[i][label_index]==-1) {
                points2.push(new BMap.Point(path_data[i][0], path_data[i][1]));
            }else {
                points3.push(new BMap.Point(path_data[i][0], path_data[i][1]));
            }
        }
        var options1 = {
            //size: BMAP_POINT_SIZE_TINY,
            size: BMAP_POINT_SIZE_SMALLER,
            //shape: BMAP_POINT_SHAPE_STAR,
            color: '#ff0000'
        };
        var options2 = {
            //size: BMAP_POINT_SIZE_TINY,
            size: BMAP_POINT_SIZE_SMALLER,
            //shape: BMAP_POINT_SHAPE_STAR,
            color: '#0000ff'
        };
        var options3 = {
            //size: BMAP_POINT_SIZE_TINY,
            size: BMAP_POINT_SIZE_SMALLER,
            //shape: BMAP_POINT_SHAPE_STAR,
            color: '#000000'
        };
        var pointCollection1 = new BMap.PointCollection(points1, options1);  // 初始化PointCollection
        var pointCollection2 = new BMap.PointCollection(points2, options2);  // 初始化PointCollection
        var pointCollection3 = new BMap.PointCollection(points3, options3);  // 初始化PointCollection
{#        pointCollection1.addEventListener('click', function (e) {#}
{#            alert('单击点的坐标为：' + e.point.lng + ',' + e.point.lat);  // 监听点击事件#}
{#        });#}
{#        pointCollection2.addEventListener('click', function (e) {#}
{#            alert('单击点的坐标为：' + e.point.lng + ',' + e.point.lat);  // 监听点击事件#}
{#        });#}

        map.addOverlay(pointCollection1);  // 添加Overlay
        map.addOverlay(pointCollection2);  // 添加Overlay
        if (noise_invisible==0) {
            map.addOverlay(pointCollection3);  // 添加Overlay
        }
    } else {
        alert('请在chrome、safari、IE8+以上浏览器查看本示例');
    }

    var overlays = [];
	var overlaycomplete = function(e){
        if (e.drawingMode=="polyline")//如果是画多边形结束后
        {
            var line_points = e.overlay.ia;
            poly_start_point=line_points[0];
            poly_end_point=line_points[line_points.length-1];
            distance_of_st=distance(poly_start_point,poly_end_point);
            threshold=0.0022;
            if (distance_of_st <= threshold)
            {

                now_overlay= e.overlay;

                $.confirm({
                confirmButtonClass: 'btn-info',
                cancelButtonClass: 'btn-danger',

                keyboardEnabled: true,
                title: '信息',
                content: '是否选择当前区域中的数据点?',
                confirmButton: '是',
                cancelButton: '否',
                closeIcon: true,
                confirm: function () {
                    var point_list_json_str=JSON.stringify(line_points);
                    var addr = "/transport/area_statistics?" + "point_list="+point_list_json_str + "&data_type=2";
                    $.get(addr, function (result) {
                        if (result.code == 0) {
                            handle_result_from_json(result);
                            map.removeOverlay(e.overlay);
                        }
                        else {
                            alert(result.message);
                            map.removeOverlay(e.overlay);
                        }
                    });
                },
                cancel: function () {
                    map.removeOverlay(e.overlay);
                }
            });
            }
            else {
                $.confirm({
                confirmButtonClass: 'btn-info',
                cancelButtonClass: 'btn-default',

                keyboardEnabled: true,
                title: '警告',
                content: '选择的区域起点和终点应相同,请重新绘制!',
                confirmButton: '确定',
                cancelButton: '取消',
                closeIcon: true,
                confirm: function () {
                    map.removeOverlay(e.overlay);
                },
                cancel: function () {
                    map.removeOverlay(e.overlay);
                }
            });
            }
        }
        if (e.drawingMode=="rectangle") {//画矩形结束
            var olRectPoint = e.overlay.ro;
            /* *.Nk是从 e 的dom节点中寻找到的，百度本身没有提供此方法的介绍。
             * olRectPoint坐标排序方式
             *	┌─────────────────────┐
             *	│0					1 │
             *	│					  │
             *	│3					2 │
             *	└─────────────────────┘
             * */
            var sw = olRectPoint[0];		//左上
            var ne = olRectPoint[2];		//右下
            //alert('左上：'+ sw.lng+',' + sw.lat + '    右下：'+ne.lng+','+ne.lat);

            $.confirm({
                confirmButtonClass: 'btn-info',
                cancelButtonClass: 'btn-danger',

                keyboardEnabled: true,
                title: '信息',
                content: '是否选择当前区域中的数据点?',
                confirmButton: '是',
                cancelButton: '否',
                closeIcon: true,
                confirm: function () {
                    var addr = "/transport/area_statistics?" + "slng=" + sw.lng + "&slat=" + sw.lat + "&elng=" + ne.lng + "&elat=" + ne.lat + "&data_type=2";
                    $.get(addr, function (result) {
                        if (result.code == 0) {
                            handle_result_from_json(result);
                            map.removeOverlay(e.overlay);
                        }
                        else {
                            alert(result.message);
                            map.removeOverlay(e.overlay);
                        }
                    });
                },
                cancel: function () {
                    map.removeOverlay(e.overlay);
                }
            });
        }
    };
    var styleOptions = {
        strokeColor:"blue",    //边线颜色。
        fillColor:"blue",      //填充颜色。当参数为空时，圆形将没有填充效果。
        strokeWeight: 3,       //边线的宽度，以像素为单位。
        strokeOpacity: 0.5,	   //边线透明度，取值范围0 - 1。
        fillOpacity: 0.2,      //填充的透明度，取值范围0 - 1。
        strokeStyle: 'solid' //边线的样式，solid或dashed。
    };
    //实例化鼠标绘制工具
    var drawingManager = new BMapLib.DrawingManager(map, {
        isOpen: false, //是否开启绘制模式
        enableDrawingTool: true, //是否显示工具栏
        drawingToolOptions: {
            anchor: BMAP_ANCHOR_TOP_RIGHT, //位置
            offset: new BMap.Size(5, 5), //偏离值
        },
        circleOptions: styleOptions, //圆的样式
        polylineOptions: styleOptions, //线的样式
        polygonOptions: styleOptions, //多边形的样式
        rectangleOptions: styleOptions //矩形的样式
    });
	 //添加鼠标绘制工具监听事件，用于获取绘制结果
    drawingManager.addEventListener('overlaycomplete', overlaycomplete);
    function clearAll() {
		for(var i = 0; i < overlays.length; i++){
            map.removeOverlay(overlays[i]);
        }
        overlays.length = 0
    }
    function handle_result_from_json(result)
    {
        rtn_json=JSON.parse(result.message);
        type_data_list=[rtn_json.type1,rtn_json.type2,rtn_json.type3,rtn_json.type4];
        for(var i = 0; i < 2*type_data_list.length; i++){
            option.series[i].data=(function () {
                                var d = [];
                                var idx=i % 4;
                                var data_now=type_data_list[idx];
                                var len_data_now=data_now.length;
                                for(var j = 0; j < len_data_now; j++){
                                    var object_now=data_now[j];
                                    var date_object=object_now.datatime;
                                    var value_data=-1;
                                    if (i < 4)
                                    {
                                        value_data=object_now.negNum;
                                    }
                                    else {
                                        value_data=object_now.posNum;
                                    }
                                    var date_of_data=new Date(date_object[0], date_object[1]-1, date_object[2], date_object[3], 0 , 0);
                                    d.push([
                                        date_of_data,
                                        value_data
                                    ]);
                                }
                                return d;
                            })()
        }
        $('#myModal').modal('show');
        var option_now=option;
        refresh_data(option_now);
    }
    function distance(x,y){
        lat_sqr=Math.pow((x.lat- y.lat),2);
        lng_sqr=Math.pow((x.lng- y.lng),2);
        return Math.sqrt(lat_sqr+lng_sqr);
    }
</script>
{% endblock %}


